.main .the-header {
  background: #fff;
  color: #222;
  height: 96px;
}
.header-content .nav-item {
  color: #222
}
.header-content .sub-nav {
  background: #eee;
}
.header-content .sub-nav a {
  color: #222;
}
.header-content .nav-item .sub-nav .disabled:hover,
.header-content .sub-nav .disabled {
  color: #adb1b4;
}


.banner {
  position: relative;
  height: 800px;
}
.banner .bg-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}
.banner .bg-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner .info-wrap {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  color: #363636;
  padding-top: 350px;
}
.banner .title1 {
  width: 16em;
  font-size: 60px;
  line-height: 1.1;
  font-weight: bold;
  color: #363636;
  text-transform: uppercase;
}
.banner .title2 {
  font-size: 60px;
  line-height: 1.1;
  font-weight: bold;
  color: #363636;
}
.banner .des {
  font-size: 18px;
  width: 28em;
  font-weight: 400;
  color: #222222;
  line-height: 36px;
  margin-top: 30px;
}
.banner .bar {
  width: 117px;
  height: 4px;
  background: #c6a15b;
  margin-top: 44px;
  margin-bottom: 62px;
}
.banner .des2 {
  margin-top: 60px;
  width: 20em;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  line-height: 24px;
}

.section {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  color: #222222;
  line-height: 1;
  padding-top: 50px;
  padding-bottom: 100px;
}
.section .title {
  font-size: 48px;
  font-weight: 400;
}
.section .sub-title {
  font-size: 24px;
  font-weight: 400;
  margin-top: 23px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.pic {
  padding-bottom: 30px;
}

.points .desc {
  font-size: 18px;
  font-weight: 400;
  color: #222222;
  line-height: 36px;
  padding: 0 10px;
}
.points .pic-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.points .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advantage {
  width: 100%;
  height: 870px;
  background: #F2F2F2;
}
.advantage .list {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantage .list .item {
  position: relative;
  width: 360px;
  height: 240px;
  margin-bottom: 80px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 10px 21px 0px rgba(120, 143, 182, 0.35);
}
.advantage .list .item img {
  transform: translateY(-18px);
}
.advantage .list .item p {
  position: absolute;
  bottom: 36px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #222222;
}


.applications {
  padding-bottom: 180px;
}
.applications .adv-item {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.applications .adv-item.even {
  flex-direction: row-reverse;
}
.applications .adv-item .info-wrap {
  text-align: right;
  width: 450px;
  color: #222222;
  display: flex;
  flex-direction: column;
}
.applications .adv-item.even .info-wrap {
  text-align: left;
}
.applications .adv-item .info-wrap .tit {
  font-size: 48px;
  font-weight: bold;
}
.applications .adv-item .info-wrap .des {
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  margin-top: 20px;
  padding-right: 0;
  padding-left: 0;
}
.applications .adv-item.even .info-wrap .des {
  padding-right: 0;
  padding-left: 0;
}
.applications .adv-item .info-wrap .strong {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  margin-top: auto;
}
.applications .adv-item .info-wrap .strong::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  width: 82px;
  height: 5px;
  background: #C6A15B;
}
.applications .adv-item.even .info-wrap .strong::before {
  left: 0;
}