<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/footer.css"  />
	</head>
	<body>
		<div class="footer">
			<div class="footer-logo">
				<img src="../img/logo.png">
			</div>
			<div class="footer-content">
				<div class="footer-info">
					<ul class="contact-way">
						<li>
							<img class="phone-img" src="../img/dianhua.png"/>
							<span style="margin-left: 0.7vw;">电话</span>
						</li>
						<li><span style="margin-left: 2.3vw;">86-000-000000</span></li>
						<li>
							<img class="phone-img" src="../img/youxiang.png" />
							<span style="margin-left: 0.7vw;">邮箱</spna>
						</li>
						<li><span style="margin-left: 2.3vw;">000000@Bolance.com</span></li>
					</ul>
				</div>
				<div class="footer-info" style="margin-left: 8vw;">
					<ul>
						<li>Bolancer</li>
						<li>物流机器人</li>
						<li>商业服务器人</li>
						<li>安防巡检机器人</li>
					</ul>
				</div>
				<div class="footer-info" style="margin-left: 4vw;">
					<ul>
						<li>帮助与支持</li>
						<li>产品支持</li>
						<li>购买指南</li>
						<li>维修售后</li>
					</ul>
				</div>
				<div class="footer-info" style="margin-left: 5vw;">
					<ul>
						<li>订阅我们</li>
						<li>第一时间获得Bolancer（白龙）最新动态</li>
						<li style="position: relative;">
							<input class="info-input" placeholder="请输入您的邮箱地址"/>
							<button class="btn">提交</button>
						</li>
					</ul>
				</div>
			</div>
		    <div class="tail">
				@Copyright TESRA SUPERNET
			</div>
		</div>
	</body>
</html>
